.container {
  width: 80%;
  max-height: 80%;
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

img {
  margin: 1em;
  max-width: 40%;
  max-height: 40%;
}

.text {
  max-width: 40%;
  max-height: 40%;
  margin: auto;
}

.row {
  text-align: center;
  border: 1px solid black;
  margin: 1em;
}

.header {
  font-size: 2em;
  text-align: center;
  margin: auto;
}

.footer {
  text-align: center;
  margin: auto;
}

.about-me {
  font-size: 1.5em;
}

/* Nav */

.navbar,
.navbar-default {
  margin: 0;
  background-color: #ffffff;
  border: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
  background-image: url("http://www.excelenvironmental.co.uk/images/seagulls783x482.jpg?crc=536423584");
}

.navbar-brand {
  background-color: white;
  border: solid;
  border-radius: 50%;
  /* filter: opacity(0.75) */
}


/* From Page  */

.form {
  margin-top: 5em;
}
